# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/cv02/build/
/cv02/nbproject/private/
/cv04-1/nbproject/private/
/cv04-2/nbproject/private/
/cv04-1/build/
/cv05/nbproject/private/
/cv05/build/
/cv05-2/nbproject/private/
/cv05-2/build/
/du1/du1/nbproject/private/
/du1/du1/build/
/du1/du1/dist/
/cv6-2/nbproject/private/
/cv6-1/dist/