# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/cv02/build/
/cv02/nbproject/private/
/cv04-1/nbproject/private/
/cv04-2/nbproject/private/
/cv04-1/build/
/cv05/nbproject/private/
/cv05/build/
/cv05-2/nbproject/private/
/cv05-2/build/
/du1/du1/nbproject/private/
/du1/du1/build/
/du1/du1/dist/
/cv6-2/nbproject/private/
/cv6-1/dist/
/du1/reseni/du1_ondrej_klauda/build/
/du1/reseni/du1_ales_wild/du1/build/
/du1/reseni/du1_ondrej_klauda_v1/build/
/cv07-1/nbproject/private/
/cv07-2/nbproject/private/
/cv07-1/build/
/du1/reseni/du1_ondrej_klauda_v2/du1_ondrej_klauda/build/
/cv08-1/nbproject/private/
/cv08-2/nbproject/private/
/cv08-1/build/
/du1/reseni/du1_ondrej_klauda_v3/du1_ondrej_klauda/build/
/cv09/nbproject/private/
/cv09/build/
/cv10/nbproject/private/
/cv10/build/
/du2/vzorove-reseni/nbproject/private/
/du2/vzorove-reseni/build/
/du2/vzorove-reseni/dist/
/cv11/nbproject/private/
/cv11/build/